$brown-color: #8a2b06;
$dark-brown-color: #4d1601;
$bitter-brown-color: #2c0d00;
$light-brown-color: #92320c;
$ligthest-brown-color: #b94517;
$white-color: #fff;
$dark-gray-color: #383838;
$light-gray-color: #ccc;
